<ion-view title="Event Form" id="page4">
  <ion-content padding="true" class="has-header">
  <div ng-controller="UpdateController">

    <form id="eventForm-form1" class="list" role="form" >
      <label class="item item-input item-stacked-label" id="eventForm-input2">
        <span class="input-label" >Title</span>
        <input type="text" ng-model="editEvent.event_title" required="true">
      </label>
      <label class="item item-input item-stacked-label" id="eventForm-input3">
        <span class="input-label">Description</span>
        <input type="text" ng-model="editEvent.event_description" required="true">
      </label>
      <label class="item item-input item-stacked-label" id="eventForm-input4">
        <span class="input-label">Location</span>
        <input placeholder="" type="text" ng-model="editEvent.event_location" required="true">
      </label>
      <!-- <label class="item item-input item-stacked-label" id="eventForm-input5">
        <span class="input-label">Date</span>
        <input type="date" ng-model="editEvent.event_date" required="true">
      </label> -->
      <label class="item item-input item-stacked-label" id="eventForm-input5">
        <span class="input-label">Date</span>
        <!-- <input type="date" ng-model="newEvent.event_date" required="true" format="yyyy-mm-dd"> -->
        <datepicker date-format="yyyy-MM-dd">
        <input data-ng-model="editEvent.date" type="date" placeholder="Set Event Date"/>
      </datepicker>
      </label>
      <label class="item item-input item-stacked-label" id="eventForm-input6">
        <span class="input-label">Time</span>
        <input type="time" ng-model="editEvent.event_time" required="true">
      </label>

      <a ui-sref="tabsController.eventView" id="eventForm-button1" class="button button-positive  button-block" ng-click="update()">Create Event</a>

      <input type="button" ng-click="reset(form)" value="Reset" />
        <div class="modal-footer">
                            <button type="button" ng-click="update()">Update</button>
                        </div>
    </form>
<p>{{edit.event_title}}</p>

    <pre>editEvent= {{editEvent | json}}</pre>
 <pre>master = {{master | json}}</pre>
</div>
  </ion-content>
</ion-view>
