<div ng-controller="FormController">
   <ion-header-bar classic="bar-dark" id="brandblue">
      <div class="buttons">
         <button class="button icon ion-arrow-left-c button-clear" onclick="back()">left</button>
      </div>
      <h1 class="title" padding="true">New Event</h1>
   </ion-header-bar>
   <ion-view title="Event Form">
      <ion-content padding="true" class="has-header">
         <form id="eventForm" class="list" role="form">
            <label class="item item-input item-stacked-label">
               <span class="input-label">Event Name</span>
               <input type="text" ng-model="newEvent.event_title" required="true" placeholder="Gregs' Birthday!" />
            </label>
            <label class="item item-input item-stacked-label">
               <span class="input-label">Description</span>
               <input type="text" ng-model="newEvent.event_description" required="true" placeholder="Celebrate his 22nd year." />
            </label>
            <label class="item item-input item-stacked-label">
               <span class="input-label">Location</span>
               <input type="text" ng-model="newEvent.event_location" required="true" placeholder="123 Maple Lane" />
            </label>
            <label class="item item-stacked-label">
               <span class="input-label">Date</span>
            </label>
            <!-- <input type="date" ng-model="newEvent.event_date" required="true" format="yyyy-mm-dd">  -->
            <datepicker date-format="yyyy-MM-dd">
               <input type="text" ng-model="newEvent.event_date" placeholder="Set Event Date" />
            </datepicker>
            <label class="item item-input item-stacked-label">
               <span class="input-label">Time</span>
               <input type="time" ng-model="newEvent.event_time" format="HH:mm:ss" />
            </label>
            <button type="button" class="button button-blue button-full" ng-click="save()">Save</button>
         </form>
      </ion-content>

   </ion-view>
</div>
