<ion-view title="Main Feed" id="page2" style="">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="mainFeed-card21">
      <ion-item id="mainFeed-list-item9" ui-sref="tabsController.eventView" style="">Event Name</ion-item>
      <div class="item item-body" id="mainFeed-list-item-container2" style="">
        <div id="mainFeed-markdown3" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">200 people attend! No Age limits.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="mainFeed-card24">
      <ion-item id="mainFeed-list-item20" ui-sref="tabsController.eventView" style="">Event Name</ion-item>
      <div class="item item-body" id="mainFeed-list-item-container5" style="">
        <div id="mainFeed-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">200 people attend! No Age limits.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="mainFeed-card23">
      <ion-item id="mainFeed-list-item19" ui-sref="tabsController.eventView" style="">Event Name</ion-item>
      <div class="item item-body" id="mainFeed-list-item-container4" style="">
        <div id="mainFeed-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">200 people attend! No Age limits.</p>
        </div>
      </div>
    </div>
    <div class="list card" id="mainFeed-card22">
      <ion-item id="mainFeed-list-item18" ui-sref="tabsController.eventView" style="">Event Name</ion-item>
      <div class="item item-body" id="mainFeed-list-item-container3" style="">
        <div id="mainFeed-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">200 people attend! No Age limits.</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>