<ion-header-bar classic="bar-light">
	<h1 class="title">Saved Events</h1>
</ion-header-bar>

<ion-content>
	<ion-list id="mainList">
	<h2>Saved Events</h2>
		<ion-item ng-repeat="events in event" class="item item-thumbnail-center">
			<h3>{{events.event_title}}</h3>
			<p>{{events.user_id}}</p>



			<a href="#details/{{ $index }}">View</a>

		</ion-item>
		<a href="#events/form/"><button id="add" class="button button-positive" ng-click="toggle('add', 0)">Add New</button></a>

	</ion-list>
</ion-content>
