<ion-view title="Login" id="page5">
  <ion-content padding="true" class="has-header" ng-controller="LoginController">
    <form id="login-form2" class="list">
      <ion-list id="login-list3">
        <label class="item item-input" id="signup-input13">
          <span class="input-label">Email</span>
          <input placeholder="Enter Email" type="email" ng-model="user.email">
        </label>
        <label class="item item-input" id="login-input9">
          <span class="input-label">Password</span>
          <input type="password" placeholder="Enter your Password" ng-model="user.password">
        </label>
      </ion-list>
      <div class="padding">
          <button class="button button-full button-positive ink"  ng-click="login()">Login</button>
      </div>

      <a href="#/signup" id="login-button4" class="button button-positive  button-block button-clear">Or create an account</a>

    </form>
  </ion-content>
</ion-view>
