<ion-view title="All Badges" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <ion-list id="allBadges-list6">
      <ion-item class="item-avatar" id="allBadges-list-item26" style="">
        <h2>Badge #</h2>
        <p>Description here...</p>
      </ion-item>
    </ion-list>
    <ion-list id="allBadges-list13">
      <ion-item class="item-avatar" id="allBadges-list-item33" style="">
        <h2>Badge #</h2>
        <p>Description here...</p>
      </ion-item>
    </ion-list>
    <ion-list id="allBadges-list12">
      <ion-item class="item-avatar" id="allBadges-list-item32" style="">
        <h2>Badge #</h2>
        <p>Description here...</p>
      </ion-item>
    </ion-list>
    <ion-list id="allBadges-list11">
      <ion-item class="item-avatar" id="allBadges-list-item31" style="">
        <h2>Badge #</h2>
        <p>Description here...</p>
      </ion-item>
    </ion-list>
    <ion-list id="allBadges-list10">
      <ion-item class="item-avatar" id="allBadges-list-item30" style="">
        <h2>Badge #</h2>
        <p>Description here...</p>
      </ion-item>
    </ion-list>
    <ion-list id="allBadges-list9">
      <ion-item class="item-avatar" id="allBadges-list-item29" style="">
        <h2>Badge #</h2>
        <p>Description here...</p>
      </ion-item>
    </ion-list>
    <ion-list id="allBadges-list8">
      <ion-item class="item-avatar" id="allBadges-list-item28" style="">
        <h2>Badge #</h2>
        <p>Description here...</p>
      </ion-item>
    </ion-list>
    <ion-list id="allBadges-list7">
      <ion-item class="item-avatar" id="allBadges-list-item27" style="">
        <h2>Badge #</h2>
        <p>Description here...</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
