/* Empty. Add your own CSS if you like */

body{
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  color: white;
}

.bar-header{
  background-color: #ff9966;
}

#formHead{
  background-color: #3399ff;
}
#button-save{
  background-color: #3399ff;
  color: white;
}
#button-save:hover{
  background-color: #0e7be7;
}
a{
  text-decoration: none;
}

#background{
  background-image: url("../img/background.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}
